*{
    margin: 0;
    padding: 0
}
.to{
    width: 700px;
    height: auto;
    position: absolute;
    left: calc(50% - 328px);
    top: 40px
}
.nho{
    width: 200px;
    margin-right: 5px;
    margin-top: 5px;
    height: 220px;
}
.nho:hover{
    transform: scale(1.2);
    transition: 0.5s
}